[submodule "Games in Psych/Cookie Clicker/cookie-clicker-psych-edition"]
	path = Games in Psych/Cookie Clicker/cookie-clicker-psych-edition
	url = https://github.com/NAEL2XD/cookie-clicker-psych-edition.git
